.inputsField {
    border-right: 1px solid grey;
    flex: 1;    
    height: 100vh;
}

.inputsField form {
    display: flex;
    flex-direction: column;
}

.inputsField label {
    margin-bottom: 10px;  
}

.inputsField input {
    margin-left: 5px;
}

/* Denotes input fields with issues that are terminal to the application */
.terminalIssue {
    background-color: red;
}