
/* CSS covering whole Component */
.inputsField {
    border-right: 1px solid grey;
    flex: 1;
    height: 100vh;
}

    .inputsField form {
        display: flex;
        flex-direction: column;
    }

    .inputsField label {
        margin-bottom: 10px;  
    }

    .inputsField input {
        margin-left: 5px;
    }

    /* styling for separate sections of inputs within the main field */
    .inputSection {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

/* Denotes input fields with issues that are terminal to the application */
.terminalIssue {
    background-color: red;
}

/* Form selector buttons row */
.selectFormBtnsRow {
    border: 2px, solid, black;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.selectFormBtnsRow button {
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
    margin-right: 1em;
}